<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.github.dockerjava" level="INFO"/>
	<logger name="io.confluent.testcontainers" level="INFO"/>
	<logger name="org.testcontainers" level="INFO"/>

	<logger name="org.reflections" level="ERROR"/>

	<logger name="org.apache.kafka.connect" level="OFF"/>
	<logger name="io.confluent.connect.jdbc" level="OFF"/>

	<logger name="fr.laposte.an.testcontainers" level="INFO"/>

	<logger name="com.ydespreaux.shared.autoconfigure.kafka.connect" level="INFO"/>
	<logger name="fr.laposte.an.kafka.connect" level="INFO"/>

	<root level="ERROR">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>